<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <div class="row">
      <h3 class="center-align">Editar Empresa</h3>
      <article class="col s6 offset-s3">
          <form [formGroup]="fgValidador" (ngSubmit)="EditarEmpresa()" method="POST" action="formulario-contacto.php">
              <input type="hidden" formControlName="id"/>
              <div class="input-field">
                  <label for="razonSolcial" class="active">RazonSocial</label>
                  <input formControlName="razonSocial" type="text" name="razonSocial" required>
              </div>

              <div class="input-field">
                  <label for="nit" class="active">Nit</label>
                  <input formControlName="nit" type="text" name="nit" required>
              </div>
              <p class="center-align">
                  <button [disabled]="!fgValidador.valid" class="waves-effect waves-light btn" type="submit"><i
                class="material-icons right">edit</i>Editar</button>
              </p>
          </form>
      </article>
  </div>