<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<button routerLink="/administracion/crear-empresa" class="waves-effect waves-light btn"><i
    class="material-icons right">add</i>Crear Empresa</button>
<table class="table resposive">
    <thead>
        <tr>
            <th>
                RazonSocial
            </th>
            <th>
                Nit
            </th>
            <th>
                Editar
            </th>
            <th>
                Eliminar
            </th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of listadoRegistros">
            <td>
                {{p.razonSocial}}
            </td>
            <td>
                {{p.nit}}
            </td>
            <td>
                <button routerLink="/administracion/editar-empresa/{{p.id}}" class="waves-effect waves-light btn"><i
                    class="material-icons right">edit</i>Editar</button>
            </td>
            <td>
                <button routerLink="/administracion/eliminar-empresa/{{p.id}}" class="waves-effect waves-light btn"><i
                    class="material-icons right">delete</i>Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>
