<div class="card-panel teal lighten-2">
<nav>
    <div class="nav-wrapper">
      <a routerLink="/inicio" class="brand-logo">SecurityApps</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-empresa">Empresa</a></li>
        <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-empleado">Empleados</a></li>
        <li *ngIf="seInicioSesion"><a routerLink="/administracion/clientes">Clientes</a></li>
        <li *ngIf="seInicioSesion"><a routerLink="/seguridad/CambioClave">Cambiar Clave</a></li>
        <li *ngIf="seInicioSesion"><a routerLink="/seguridad/cerrarSesion">Cerrar sesion</a></li>
        <li *ngIf="!seInicioSesion"><a routerLink="/seguridad/identificar">Login</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-empresa">Empresa</a></li>
    <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-empleado">Empleados</a></li>
    <li *ngIf="seInicioSesion"><a routerLink="/administracion/clientes">Clientes</a></li>
    <li *ngIf="seInicioSesion"><a routerLink="/seguridad/CambioClave">Cambiar Clave</a></li>
    <li *ngIf="seInicioSesion"><a routerLink="/seguridad/cerrarSesion">Cerrar sesion</a></li>
    <li *ngIf="!seInicioSesion"><a routerLink="/seguridad/identificar">Login</a></li>
  </ul>
</div>