<a routerLink="/administracion/crear-empleado" class="btn">Nuevo Empleado</a>
<table class="table resposive">
    <thead>
        <tr>
            <th>
                Nombres
            </th>
            <th>
                Apellidos
            </th>
            <th>
                Telefono
            </th>
            <th>
                Direccion
            </th>
            <th>
                Email
            </th>
            <th>
                Edad
            </th>
            <th>
                fechaNacimiento
            </th>
            <th>
                sueldo
            </th>
            <th>
                esDirectivo
            </th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of listadoEmpleados">
            <td>
                {{p.nombres}}
            </td>
            <td>
                {{p.apellidos}}
            </td>
            <td>
                {{p.telefono}}
            </td>
            <td>
                {{p.direccion}}
            </td>
            <td>
                {{p.email}}
            </td>
            <td>
                {{p.edad}}
            </td>
            <td>
                {{p.fechaNacimiento}}
            </td>
            <td>
                {{p.sueldo}}
            </td>
            <td>
                {{p.esDirectivo}}
            </td>
            <td>
                <a routerLink="/administracion/editar-empleado/{{p.id}}" class="btn">Editar Empleado</a>
            </td>
        </tr>
    </tbody>
</table>
