<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<button routerLink="/administracion/crear-empleado" class="waves-effect waves-light btn"><i
    class="material-icons right">add</i>Crear Empleado</button>
<table class="table resposive">
    <thead>
        <tr>
            <th>
                Nombres
            </th>
            <th>
                Apellidos
            </th>
            <th>
                Telefono
            </th>
            <th>
                Direccion
            </th>
            <th>
                Email
            </th>
            <th>
                Edad
            </th>
            <th>
                fechaNacimiento
            </th>
            <th>
                sueldo
            </th>
            <th>
                esDirectivo
            </th>
            <th>
                Editar
            </th>
            <th>
                Eliminar
            </th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of listadoEmpleados">
            <td>
                {{p.nombres}}
            </td>
            <td>
                {{p.apellidos}}
            </td>
            <td>
                {{p.telefono}}
            </td>
            <td>
                {{p.direccion}}
            </td>
            <td>
                {{p.email}}
            </td>
            <td>
                {{p.edad}}
            </td>
            <td>
                {{p.fechaNacimiento}}
            </td>
            <td>
                {{p.sueldo}}
            </td>
            <td>
                {{p.esDirectivo}}
            </td>
            <td>
                <button routerLink="/administracion/editar-empleado/{{p.id}}" class="waves-effect waves-light btn"><i
                    class="material-icons right">edit</i>Editar</button>
            </td>
            <td>
                <button routerLink="/administracion/eliminar-empleado/{{p.id}}" class="waves-effect waves-light btn"><i
                    class="material-icons right">delete</i>Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>
